

.container-fluid {
  
  padding-bottom: 10px;
}

.New-Recipe {
  text-align: center;
}

.btn-group {
  margin: 0 auto;
  padding-top: 1.5rem;
}

#root {
  overflow-y: scroll;
}



a:hover {
  
  text-decoration: none !important;
}

