body,
html,
#root {
  height: 100%;
  
}



p {
    margin: 1rem;
}

.Recipe-info {
    margin-bottom: 1rem;
    
}

.detail-group {
  border-radius: 5px;
}

.Recipe-details {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.img-wrapper {
  
  
  overflow: hidden;
  margin: 0 auto;
  
}

.recipe-image img {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.tag {
  padding: 0.2em;
  margin: 1em 0.5em;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  font-size: small;
}

.tag-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
}

.inactive {
  color: black;
  background-color: aliceblue;
}



