.Recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }



.buttons {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.card {
  width: 18em;
  height: 9em;
  flex: none !important;
  margin-top: 2em;
  

}

.card-title {
  color: black !important;
}

.card-text {
  color: gray;
  text-decoration: wavy;
  font-weight: 300;
  font-style: italic;
}



.card-deck {
  justify-content: space-evenly;

}

@media only screen and (max-width: 576px) {
  .card {
    margin: 0 auto;
  
  }
}

